name: nucl-th

on:
  schedule:
    - cron: '0 23 * * 0,1,2,3,4'  # 23:00 Sun-Thu (UTC) = 8:00 Mon-Fri (JST)
  workflow_dispatch:

env:
  WEBHOOK: ${{ secrets.WEBHOOK_NUCL_TH }}
  CATEGORY: 'nucl-th'

jobs:
  arXiv:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install requirements
        run: python3 -m pip install -r requirements.txt

      - name: Run main.py
        run: |
          date
          python3 main.py --webhook $WEBHOOK --category $CATEGORY
